[user]
	email = wycejared@gmail.com
	username = jwyce
	name = Jared Wyce
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
  s = status
  co = checkout
  cob = checkout -b
  del = branch -D
  br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
  save = !git add -A && git commit -m 'chore: savepoint'
  undo = reset HEAD~1 --mixed
  res = !git reset --hard
  done = !git push origin HEAD
  lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    line-numbers = true
    syntax-theme = ansi

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
